<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--CSS source tags-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/components/navbar/">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--JS Source tags-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
</head>

<style>
		footer {
            clear: both;
            position: relative;
            height: 0px;
            margin-top: 0px;
        }
		#custom-nav {
			box-shadow: 0px 8px 15px #ddddce;
		}
		.num {
		    text-align:center;
		}
		td, th {
		    text-align:center;
		}

</style>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2271e0;" id="custom-nav">
    <a class="navbar-brand" href="#" th:href="@{/welcome}">Covid Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/welcome/global}">Global</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/welcome/india}">Indian Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/welcome/mapping}">Visualisation</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <br>
    <div class="row">
        <div class="col-9">
            <h2> Global COVID19 data representation dashboard </h2>
        </div>
        <div class="col-3">
            <input class="form-control mr-sm-2" id="myInput" onkeyup="myFunction()" type="text"
                   placeholder="Search for States.." aria-label="Search">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-8">
            <h6>Total number of Corona Effected people worldwide : <span th:text="${TotalCountWorldWide}"></span></h6>
        </div>
    </div>
    <br>
    <div class="covid-table table-responsive">
        <table class="table table-bordered table-striped" id="dataTable">
            <tr>
                <th>Sl. No</th>
                <th>Country</th>
                <th>Current Effected Count</th>
                <th>Number of changes in past one day</th>
            </tr>
            <tr th:each="eachstate, iterationStatus : ${allGlobalData}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${eachstate.country}"></td>
                <td th:text="${eachstate.latestCases}">0</td>
                <td th:text="${eachstate.changeInCasualties}">0</td>
            </tr>
        </table>
    </div>
</div>
<br>
<footer class="footer">
    <div class="container text-center">
        <a class="fa" href="https://www.facebook.com/Tamal2401" target="_blank">
            <i class="fab fa-facebook-f fa-2x " aria-hidden="true"></i>
        </a>
        <a class="fab" href="https://www.instagram.com/tamal2401/" target="_blank" style="padding-left:25px;">
            <i class="fab fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="fab" href="https://twitter.com/TamalDA65614950" target="_blank" style="padding-left:25px;">
            <i class="fab fa-twitter fa-2x " aria-hidden="true"></i>
        </a>
        <a class="fab" href="https://github.com/tamal2401" target="_blank" style="padding-left:25px;">
            <i class="fab fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.
        </p>
    </div>
</footer>

<script type="text/javascript">
<!--    $(".num").counterUp({delay:10,time:1000});-->



</script>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("dataTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>
</body>
</html>