<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--CSS source tags-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{../static/css/template.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/components/navbar/">

    <!--JS Source tags-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
</head>

<style>
		footer {
            clear: both;
            position: relative;
            height: 0px;
            margin-top: 0px;
		}
		#custom-nav {
			box-shadow: 0px 8px 15px #ddddce;
		}
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2271e0;" id="custom-nav">
    <a class="navbar-brand" href="#" th:href="@{/welcome}">Covid Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/welcome/global}">Global</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/welcome/india}">Indian Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/welcome/mapping}">Visualisation</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <br>
    <h2> COVID19 data representation dashboard of India </h2>
    <br>

    <div class="row">
        <div class="col-3">
            <h6>Total Confirmed Count : </h6>
            <div class="num"><span th:text="${totalConfirmed}"></span></div>
        </div>
        <div class="col-3">
            <h6>Total Death Count : </h6>
            <div class="num"><span th:text="${totalDeath}"></span></div>
        </div>
        <div class="col-3">
            <h6>Total Cured Count : </h6>
            <div class="num"><span th:text="${totalCured}"></span></div>
        </div>
        <div class="col-3">
            <h6>Last Updated </h6>
            <div class="text"><span th:text="${lastUpdated}"></span></div>
        </div>
    </div>
    <br>

    <div class="table-responsive">
        <table class="table table-bordered table-striped" border="2">
            <tr>
                <th>Sl. No</th>
                <th>State of India</th>
                <th>Confirmed</th>
                <th>Delta</th>
                <th>Active</th>
                <th>Deaths</th>
                <th>Recovered</th>
            </tr>
            <tr th:each="eachstate,iterationStatus : ${totalDataOfIndia}">
                <td th:text=${iterationStatus.count}></td>
                <td th:text="${eachstate.state}"></td>
                <td th:text="${eachstate.confirmed}">0</td>
                <td th:text="${eachstate.deltaconfirmed}">0</td>
                <td th:text="${eachstate.active}">0</td>
                <td th:text="${eachstate.deaths}">0</td>
                <td th:text="${eachstate.recovered}">0</td>
            </tr>
        </table>
    </div>
</div>
<br>
<br>
<footer class="footer">
    <div class="container text-center">
        <a class="fa" href="https://www.facebook.com/Tamal2401" target="_blank">
            <i class="fab fa-facebook-f fa-2x " aria-hidden="true"></i>
        </a>
        <a class="fab" href="https://www.instagram.com/tamal2401/" target="_blank" style="padding-left:25px;">
            <i class="fab fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="fab" href="https://twitter.com/TamalDA65614950" target="_blank" style="padding-left:25px;">
            <i class="fab fa-twitter fa-2x " aria-hidden="true"></i>
        </a>
        <a class="fab" href="https://github.com/tamal2401" target="_blank" style="padding-left:25px;">
            <i class="fab fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.
        </p>
    </div>
</footer>
<script type="text/javascript">
<!--    $(".num").counterUp({delay:10,time:1000});-->




</script>
</body>
</html>